<footer>
  <a href="https://www.youtube.com/channel/UCFxm9XNpnKpSY_hQ3b0xxCQ">Youtube</a>
  <a href="https://www.linkedin.com/in/livio-brami-52697b236/">linkedIn</a>
  <a href="https://www.instagram.com/livio.brami/">Instagram</a>
  <br>
  copyright©Livio Brami #301227775@2022
</footer>
</body>
</html>
