<%- include('header'); -%>
<!-- intro -->
<div>
  <img style="width:100px; height:100px;margin:20px;border-radius:50%; " src="https://i.pinimg.com/originals/5a/6f/6e/5a6f6e6597dde944956b456b8e90e36b.png" alt="">
  <h1>Welcome to the home page, please enjoy and take a look around! </h1>
</div>

<div class="intro1">
  <h2 class="intro"  >Hi, I'm Livio Brami</h2>
  <p  class="intro" ><span class="change_content"></span></p>
</div>
<img class="myimg" src="https://pbs.twimg.com/profile_images/821683926641033216/lte1Obpw_400x400.jpg" alt="">



<!-- social media  connectivity  link-->
<div class="s1">
  <br>
  <a class="social1" href="https://github.com/9lvexe8"><i class="fab fa-github"></i></a>
  <a class="social1" href="https://www.youtube.com/channel/UCFxm9XNpnKpSY_hQ3b0xxCQ"><i class="fab fa-youtube"></i></a>
  <a class="social1" href="https://www.linkedin.com/in/livio-brami-52697b236/"><i class="fab fa-linkedin"></i></a>
  <a class="social1" href="https://twitter.com/ramanvanshalaj"><i class="fab fa-twitter"></i></a>
</div>

<%- include('footer'); -%>
